body{
    background-color:#5D7CA6;
    color: white;
}
nav{
    background-color:#73A2BF;
}

.jumbotron{
    background-color:#73A2BF;
}
.card{
    background-color: #73A2BF;
}
.btn{
    background-color:#6699CC;
    color: white;
}
.daycolor{
    height: 300px;
}
@media(max-width:960px){
    .day{
        display: none;
    }
}

.review {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100%;
  }
  
  .review img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .review-text {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .review-author {
    font-size: 16px;
    font-style: italic;
  }

  footer{
    background-color:#73A2BF ;
  }